body{
margin: 0 auto;
font-family: 'Raleway', sans-serif;
}

header {
	background: #f5f6f7;
	min-height: 44px;
}

header ul.header-right {
	list-style: none;
	padding: 0;
	margin: 5px 0 0 20px;
	font-size: 16px;
}

header ul.header-right li {
	float: left;
	margin-right: 20px;
}

header ul.header-right a {
	position: relative;
	top: 10px;
}

header ul.header-right a,i span {
    color: #606060;
    font-family: 'Bellefair', serif;
    line-height: normal;
    text-decoration: none;
}

header ul.header-right a:hover {
  color: #53b778;
  transition: 0.3s ease;
}

#section1 #custom-search-input{
    margin: -17%;
    margin-left: 0;
    padding: 3px;
    background-color: #f5f6f7;
    border: none
    
}

#section1 #custom-search-input input{
    box-shadow: none;
    background-color: #f5f6f7;
    border: none    
}

#section1 #custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    
}

#custom-search-input .glyphicon-search{
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    margin-bottom: -11%;
    box-sizing: border-box;
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid #53b778;
    transition: 0.4s ease;
}

.bannerSocial {
  width: 100%;
  height: 410px;
  margin-top: 1%;
  background: url(../images/social.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.bannerTxt {
	padding-top: 81px;
}

.bannerTxt h1{
	margin: 0 0 30px;
	font-size: 60px;
	font-weight: 600;
	line-height: 1.1;
	color: #fff;	
}

.bannerTxt p{
	margin-bottom: 35px;
	font-size: 18px;
	font-weight:bold;
	color: #fff;
}

#section1 .bannerTxt a{
	font-size: 14px;
	height: 50px;
	padding: 12px 20px;
	line-height: 24px;
	background: transparent;
  border-radius: 0;
  border: 2px solid #53b778;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.9s ease;

}

#section1 .bannerTxt a:hover{
	background: #53b778;
	color: white;
	transition: 0.4s ease;

}

.main-menu .nav {
	padding: 0 0 32px; 
}

.navbar {
  background: none;
  box-shadow: none;
  border : none;
  
 }

 
.navbar nav{
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #606060;
  padding: 2% 12% 0 0;
  background: none;
  box-shadow: none;
  border : none;
}

.buttonNav {
  width: 162px;
  height: 45px;
  color: #fff;
  float: right;
  background: #53b778;
  font-weight: bold;
  padding: 10px 22px 12px 22px;
  margin: 0;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.8s;
}

.buttonNav:hover {
  background: white;
  color: #53b778;
  border : 2px solid #53b778;
  transition: 0.8s ease;
}

#section2{
padding-top: 3%;
}

#section2 h1{
color: #53b778;
}
#section2 .col-md-6{
margin-left: -15px;
}
#section2 p	{
color: #606060;
font-size: 17px;
}
#section2 span i{
font-size: 2.4em;
color: #606060;
}
#section2 span	{
color: #606060;
font-size: 17px;
}
.div1{
height: 300px;
background: red;
}
#section2 .col-md-4{
margin-top: 26px;
border-top: 3px solid black;
}
#section2 .name{
width: 320px;
height: 60px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .name span i{
margin-left: 6px;
margin-top: 10px;
font-size: 1.5em;
color: #606060;
}
#section2  .name span input{
border: 0px;
margin-left: 6px;
width: 270px;
margin-top: 22px;

}
#section2  .name span input:focus{
  outline:none;
}

#section2 .email{
width: 320px;
height: 60px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .email span input{
border: 0px;
margin-left: 6px;
width: 270px;
margin-top: 22px;
}
#section2 .email{
width: 320px;
height: 60px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .email span i{
margin-left: 6px;
margin-top: 10px;
font-size: 1.5em;
color: #606060;
}
#section2 .phone{
width: 320px;
height: 60px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .phone span i{
margin-left: 6px;
margin-top: 10px;
font-size: 1.5em;
color: #606060;
}
#section2  .phone span input{
border: 0px;
margin-left: 6px;
width: 270px;
margin-top: 10px;
margin-top: 22px;
}
#section2 .website{
width: 320px;
height: 60px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .website span i{
margin-left: 6px;
margin-top: 10px;
font-size: 1.5em;
color: #606060;
}
#section2  .website span input{
border: 0px;
margin-left: 6px;
width: 270px;
margin-top: 22px;
}
#section2 .website{
width: 320px;
height: 60px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .website span i{
margin-left: 6px;
margin-top: 10px;
font-size: 1.5em;
color: #606060;
}
#section2  .website span input{
border: 0px;
margin-left: 6px;
width: 270px;
}
#section2 .message{
width: 320px;
height: 100px;
border-bottom: 2px solid #d5d5d5;
}
#section2  .message span i{
margin-left: 6px;
margin-top: 10px;
font-size: 1.5em;
color: #606060;
}
#section2  .message span input{
border: 0px;
margin-left: 6px;
width: 270px;
height: 70px;
margin-top: 22px;

}



#section2 button{
display: block;
margin-top: 34px;
margin-left: -20px;
max-width: 360px;
width: 360px;
height: 50px;
padding: 15px 20px;
background: #53b778;
border-color: #53b778;
}
#section2 button:hover{

background: white;
color: #53b778;
transition:0.4s ease;

}
#section3{
padding-top: 60px;
}
#section3 p	{
color: #606060;
font-size: 17px;
text-align: center;
}
.border{
margin-left: 1%;
width: 60px;
height: 4px;
background: #d5d5d5;
}
#section3 i{
font-size: 5em;
color:#53b778;
}
#section3 span{
display: inline-block;
}
#section3 .col-md-11{
padding-top: 50px;
}

.span1{
    position: absolute;
    margin-top: 110px;
    margin-left: 310px;
}


.col-md-12{
	margin-top: 90px;
	border: 1px solid #d5d5d5;

}



#slide2{
	clear: both;
	display: none;
}

#slide3{
	clear: both;
	display: none;
}

#slide4{
	clear: both;
	display: none;
}

#slide5{
	clear: both;
	display: none;
}

#section4{
  margin-top: 40px;
}

#section4 img{
  width: 100%;
  height: 330px;
}


#section4 ul {
  list-style: none;
  margin-left: -40px;
}

#section4 ul li{
  color: #606060; 
      font-size: 16px;
      font-weight: 100;
      line-height: 20px;
      margin-bottom: 7px;
}


.case1{
  width: 100%;
border: 1px solid #d5d5d5;
height: 680px;
}

.case2{
  width: 100%;
 border: 1px solid #d5d5d5;
 height: 680px;
}

.case button{
    line-height: 18px;
    background: #53b778;
    height: 44px;
    border-radius: 0;
    padding: 12px 14px 12px 18px;
    text-transform: uppercase;
    border: 2px solid #53b778;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.casebtn1{
  color: white;
  font-weight: 400;
      padding-left: 24px;
    padding-top: 12px;
  cursor:  pointer;
  margin-left: 20px;
  width: 150px;
  height: 45px;
   background: #53b778;
   border: 2px solid #53b778;
}

.casebtn1:hover{
  background: #fff;
   color: green;
  transition:0.3s ease;
}


.casebtn2{
  color: white;
  font-weight: 400;
      padding-left: 24px;
    padding-top: 12px;
  cursor:  pointer;
  margin-left: 20px;
  width: 150px;
  height: 45px;
   background: #53b778;
   border: 2px solid #53b778;
}

.casebtn2:hover{
  transition:0.3s ease;
  color: #53b778;
   background: white;
}

.casebtn3{
  color: white;
  font-weight: 400;
      padding-left: 154px;
    padding-top: 12px;
  cursor:  pointer;
  margin-left: 20px;
  width: 400px;
  height: 45px;
   background: #53b778;
   border: 2px solid #53b778;
}

.casebtn3:hover{
  transition:0.3s ease;
  color: #53b778;
   background: white;
}